<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/admin/add-user">Add User</a></li>
    <li><a href="/admin/users">Admin</a></li>
  </ul>
</nav>
